<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element"> <span>
                        <img alt="image" class="img-circle" src="assets/images/profile_small.jpg" />
                         </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                         </span> <span class="text-muted text-xs block">Store Manager <b class="caret"></b></span> </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="profile.html">Profile</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="mailbox.html">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          FW+
        </div>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i><span class="nav-label">Dashboard</span> </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="products"><i class="fa fa-briefcase" aria-hidden="true"></i></i> <span class="nav-label">Products</span></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="box"><i class="fa fa-th" aria-hidden="true"></i><span class="nav-label">Boxes</span></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="orders"><i class="fa fa-inbox"></i><span class="nav-label">Orders</span></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="parcel"><i class="fa fa-archive" aria-hidden="true"></i><span class="nav-label">Parcel</span> </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="branch"><i class="fa fa-globe" aria-hidden="true"></i><span class="nav-label">Branch Setting</span></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="setting"><i class="fa fa-cogs" aria-hidden="true"></i><span class="nav-label">Setting</span></a>
      </li>
    </ul>

  </div>
</nav>
