<div class="row">
    <div kendo-tab-strip k-content-urls="[ null, null]">
      <!-- tab list -->
      <ul>
        <li class="k-state-active">Upload Box Images</li>
        <li>Box Stock</li>
      </ul>
      <div style="padding: 1em">
        <div class="row" style="padding-bottom:30px;">
          <div class="col-sm-12">
            <button class="k-button k-primary" ui-sref="boxes">Back to Box list</button>
          </div>
        </div>
        <div>
          <h4>Upload files</h4>
          <input name="files" type="file" kendo-upload k-async="{ saveUrl: 'http://fruitworldwebapi.azurewebsites.net/api/BoxImage/upload/'+boxDataItem.boxId, removeUrl: 'remove', autoUpload: false,withCredentials:false }" k-select="onSelect"/>
        </div>
        <div style="padding-top: 1em;">
          <h4>Console</h4>
          <div class="console"></div>
        </div>

      </div>

      <div style="padding: 1em;">
        <div class="row" style="padding-bottom:30px;">
          <div class="col-sm-12">
            <button class="k-button k-primary" ng-click="addToStock(stock)">Add to Stock</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <label>Stock ID:</label>
          </div>
          <div class="col-sm-10">
            <input id="simple-input" type="text" class="k-textbox" ng-model="stock.boxId" style="width: 100%;"/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1">
            <label>Branch ID:</label>
          </div>
          <div class="col-sm-10">
            <input id="simple-input" type="text" class="k-textbox" ng-model="stock.branchId" style="width: 100%;"/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1">
            <label>SKU:</label>
          </div>
          <div class="col-sm-10">
            <input id="simple-input" type="text" class="k-textbox"ng-model="stock.sku" style="width: 100%;"/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1">
            <label>Quantity:</label>
          </div>
          <div class="col-sm-10">
            <input kendo-numeric-text-box k-min="0" k-max="100" ng-model="stock.quantity" style="width: 100%;"/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1">
            <label>In Coming:</label>
          </div>
          <div class="col-sm-10">
            <input kendo-numeric-text-box k-min="0" k-max="100" ng-model="stock.inComing" style="width: 100%;"/>
          </div>
        </div>
      </div>
    </div>

  </div>
