<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>{{ totalCount }}</strong>) items</span>
                    <h5>Items in your cart</h5>
                </div>
                <div class="ibox-content" ng-repeat="product in countedProducts">


                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                        <a href="#" class="text-navy">
                                            {{product.product.name}}
                                        </a>
                                    </h3>
                                    <p class="small">
                                      {{product.product.description}}
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Description lists</dt>
                                        <dd>A  {{product.product.description}}</dd>
                                    </dl>

                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                        |
                                        <a href="" ng-click="deleteCartProduct(product)" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                    </div>
                                </td>

                                <td>
                                      {{product.product.listPrice| currency}}
                                    <s class="small text-muted">{{product.product.listPrice | currency}}</s>
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" ng-model="product.quantity" ng-change="updateProductCount($index,product)">
                                </td>
                                <td>
                                    <h4>
                                        {{product.product.listPrice * product.quantity| currency}}
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">

                    <button class="btn btn-white" ng-click="createBoxClick()"><i class="fa fa fa-th"></i> Add to Box</button>
                    <button class="btn btn-white" ng-click="createOrderClick()"><i class="fa fa-inbox"></i> Add to Order</button>
                    <button ng-if="hasShoppingCartChanged" class="btn btn-primary pull-right" ng-click="updateShoppingCart(countedProducts)"><i class="fa fa-shopping-cart"></i> Update Shopping Cart</button>

                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                            <span>
                                Total
                            </span>
                    <h2 class="font-bold">

                      {{totalPrice|currency}}

                    </h2>


                </div>
            </div>



        </div>
    </div>


</div>

<div kendo-window="shoppingCartBoxWindow" k-visible="false">
  <ul class="fieldlist" id="popupBox">
    <li>
      <label class="required">Box Name</label>
    </li>
    <li><input type="text" id="boxName" required class="k-input k-textbox" ng-model="newBox.boxName" placeholder="Box Name" style="width: 100%">
      <span class="k-invalid-msg" data-for="boxName"></span>
    </li>

    <li>
      <label class="required">Barcode</label>
    </li>
    <li><input type="text" id="boxBarcode" required class="k-input k-textbox" ng-model="newBox.barcode" placeholder="Barcode" style="width: 100%">
      <span class="k-invalid-msg" data-for="boxBarcode"></span>
    </li>

    <li><label class="required">Unit Price</label></li>
    <li><input id="boxUnitPrice" type="number" ng-model="newBox.unitPrice" value="0" required style="width: 100%">
      <span class="k-invalid-msg" data-for="boxUnitPrice"></span>
    </li>

    <li><input type="checkbox" id="boxIncGst" class="k-checkbox" checked="checked" ng-model="newBox.incGst" required>
      <label for="boxIncGst" class="k-checkbox-label">Inc. GST</label>
    </li>

    <li><label for="boxSize">Size</label></li>
    <li>
      <select kendo-combo-box k-placeholder="'Select Size'" k-data-text-field="'sizeName'" k-data-value-field="'sizeName'" k-filter="'contains'" k-auto-bind="false" k-data-source="boxSizeSource" style="width: 100%" ng-model="newBox.size">
 </select>
    </li>

    <li>
      <label for="boxDescription">Description</label>
    </li>
    <li><input type="text" id="boxDescription" class="k-input k-textbox" ng-model="newBox.description" placeholder="Description" required style="width: 100%">
      <span class="k-invalid-msg" data-for="boxDescription"></span>
    </li>

    <li><label for="localBoxContentGrid">Product List</label></li>
    <li>
      <div id="localBoxContentGrid"></div>
    </li>
    <li class="pull-right">
      <button class="k-button btn btn-info" ng-click="convertToBox(newBox)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Submit</button>
      <button class="k-button close-button btn btn-danger" ng-click="closeBoxWindow()"><i class="fa fa-trash-o" aria-hidden="true"></i> Cancel</button>
    </li>
  </ul>
</div>


<div kendo-window="shoppingCartOrderWindow" k-visible="false">
  <ul class="fieldlist" id="popupBox">
    <li>
      <label class="required">Ship Name</label>
    </li>
    <li><input type="text" id="boxName" required class="k-input k-textbox" ng-model="newBox.boxName" placeholder="Box Name" style="width: 100%">
      <span class="k-invalid-msg" data-for="boxName"></span>
    </li>

    <li>
      <label class="required">Ship Address</label>
    </li>
    <li><input type="text" id="boxBarcode" required class="k-input k-textbox" ng-model="newBox.barcode" placeholder="Barcode" style="width: 100%">
      <span class="k-invalid-msg" data-for="boxBarcode"></span>
    </li>

    <li><label class="required">Freight</label></li>
    <li><input id="boxUnitPrice" type="number" ng-model="newBox.unitPrice" value="0" required style="width: 100%">
      <span class="k-invalid-msg" data-for="boxUnitPrice"></span>
    </li>

    <li><input type="checkbox" id="boxIncGst" class="k-checkbox" checked="checked" ng-model="newBox.incGst" required>
      <label for="boxIncGst" class="k-checkbox-label">Inc. GST</label>
    </li>

    <li><label for="boxSize">Size</label></li>
    <li>
      <select kendo-combo-box k-placeholder="'Select Size'" k-data-text-field="'sizeName'" k-data-value-field="'sizeName'" k-filter="'contains'" k-auto-bind="false" k-data-source="boxSizeSource" style="width: 100%" ng-model="newBox.size">
 </select>
    </li>

    <li>
      <label for="boxDescription">Description</label>
    </li>
    <li><input type="text" id="boxDescription" class="k-input k-textbox" ng-model="newBox.description" placeholder="Description" required style="width: 100%">
      <span class="k-invalid-msg" data-for="boxDescription"></span>
    </li>

    <li><label for="localBoxContentGrid">Product List</label></li>
    <li>
      <div id="localBoxContentGrid"></div>
    </li>
    <li class="pull-right">
      <button class="k-button btn btn-info" ng-click="convertToOrder(newBox)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Submit</button>
      <button class="k-button close-button btn btn-danger" ng-click="closeBoxWindow()"><i class="fa fa-trash-o" aria-hidden="true"></i> Cancel</button>
    </li>
  </ul>
</div>

<script id="notificationTemplate" type="text/x-kendo-template">
		<div class="toast toast-success" style="width: 16em; padding:1em;white-space:nowrap;color:white;"> {{ngValue}} #= kValue # </div>
</script>

<span kendo-notification="notf1" k-options="notf1Options"></span>
