<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>{{ cartProducts.length }}</strong>) items</span>
                    <h5>Items in your cart</h5>
                </div>
                <div class="ibox-content" ng-repeat="product in countedProducts">


                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                        <a href="#" class="text-navy">
                                            {{product.product.name}}
                                        </a>
                                    </h3>
                                    <p class="small">
                                      {{product.product.description}}
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Description lists</dt>
                                        <dd>A  {{product.product.description}}</dd>
                                    </dl>

                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                        |
                                        <a href="" ng-click="deleteCartProduct(product)" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                    </div>
                                </td>

                                <td>
                                      {{product.product.listPrice| currency}}
                                    <s class="small text-muted">{{product.product.listPrice | currency}}</s>
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" ng-model="product.count" ng-change="updateProductCount($index,product)">
                                </td>
                                <td>
                                    <h4>
                                        {{product.product.listPrice * product.count| currency}}
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">

                    <button class="btn btn-primary pull-right" ng-click="addToBox(countedProducts)"><i class="fa fa fa-shopping-cart"></i> Add to Box</button>
                    <button class="btn btn-white" ng-click="addToOrder(countedProducts)"><i class="fa fa-arrow-left"></i> Add to Order</button>

                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                            <span>
                                Total
                            </span>
                    <h2 class="font-bold">

                      {{totalPrice|currency}}

                    </h2>

                    <hr/>
                            <span class="text-muted small">
                                *For United States, France and Germany applicable sales tax will be applied
                            </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                            <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">



                    <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                            <span class="small">
                                Please contact with us if you have any questions. We are avalible 24h.
                            </span>


                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">

                    <p class="font-bold">
                        Other products you may be interested
                    </p>

                    <hr/>
                    <div>
                        <a href="#" class="product-name"> Product 1</a>
                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <a href="#" class="product-name"> Product 2</a>
                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
